.profile {
  margin-top: 1em;
}

.user-profile .picture {
  width: 200px;
  border-radius: 5px;
}

.user-profile ul {
  padding: 0;
  margin-top: .6em;
}

.user-profile ul li {
  list-style: none;
}

.pinned-feed {
  margin-top: .6em;
  padding: .6em 0 0 0;
  border: 1px solid #ccc !important;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-radius: 20px;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
}

.pinned-feed span.pin-glyph{
  color: #bbbbbb;
  font-size: .8em;
  border-radius: 200px;
  position: relative;
  left: 80px;
  padding-top: .6em;
  margin-top: .6em;
}