{% load i18n %}
{% load humanize %}

<li class="reposted_feed" feed-id="{{ feed.pk }}" csrf="{{ csrf_token }}">
  <div class="feed-container">
    <div style="color: darkgrey; margin-left: 10px; margin-bottom: 10px;">
        <span class="glyphicon glyphicon-retweet"><br></span>
        Reposted by <a href="{% url 'profile' feed.user.username %}" style="text-decoration: underline; color: darkgrey">
        {% if user != feed.user %}
            {{ feed.user }}
        {% else %}
            You
        {% endif %}
        </a>
    </div>
    <a href="{% url 'profile' feed.user.username %}"><img src="{{ feed.user.profile.get_picture }}" class="user"></a>
    <div class="post">
      {% if feed.user == user %}
        <span class="glyphicon glyphicon-remove remove-feed" title="{% trans 'Click to remove this feed' %}"></span>
      {% endif %}
      <h3><a href="{% url 'profile' feed.source.user.username %}">{{ feed.source.user.profile.get_screen_name }}</a> <small>{{ feed.source.date|naturaltime }}</small></h3>
      <p>{{ feed.source.linkfy_post|safe }}</p>
      <div class="interaction">
        {% if user in feed.source.get_likers %}
          <a href="#" style="text-decoration: none;" class="like unlike">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span class="text">{% trans 'Unlike' %}</span>
            (<span class="like-count">{{ feed.source.likes }}</span>)
          </a>
        {% else %}
          <a href="#" style="text-decoration: none;" class="like">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span class="text">{% trans 'Like' %}</span>
            (<span class="like-count">{{ feed.source.likes }}</span>)
          </a>
        {% endif %}
        <a href="#" style="text-decoration: none;" class="comment">
          <span class="glyphicon glyphicon-comment"></span> {% trans 'Comment' %}
          (<span class="comment-count">{{ feed.source.comments }}</span>)
        </a>
        {% if user in feed.source.get_reposters %}
          <a href="#" style="text-decoration: none;" class="repost undo-repost">
            <span class="glyphicon glyphicon-retweet"></span>
            <span class="text">{% trans 'Undo Repost' %}</span>
            (<span class="repost-count">{{ feed.source.reposts }}</span>)
          </a>
        {% else %}
          <a href="#" style="text-decoration: none;" class="repost">
            <span class="glyphicon glyphicon-retweet"></span>
            <span class="text">{% trans 'Repost' %}</span>
            (<span class="repost-count">{{ feed.source.reposts }}</span>)
          </a>
        {% endif %}
        {% if feed.source.user != user %}
          {% if user in feed.source.get_reporters %}
            <span class="reported">
                <span class="glyphicon glyphicon glyphicon-flag"></span>
                <span class="text">{% trans 'Reported' %}</span>
            </span>
            {% else %}
              <span class="report">
                  <a href="#" style="text-decoration: none;">
                    <span class="glyphicon glyphicon glyphicon-flag"></span>
                    <span class="text">{% trans 'Report' %}</span>
                  </a>
              </span>
            {% endif %}
        {% endif %}
      </div>
      <div class="comments">
        <form role="form" method="post" action="{{ comment }}" onsubmit="return false">
          {% csrf_token %}
          <input type="hidden" name="feed" value="{{ feed.pk }}">
          <input type="text" class="form-control input-sm" placeholder="{% trans 'Write a comment...' %}" name="post" maxlength="255">
        </form>
        <ol class="clearfix">
          {% comment %} Place holder to load feed comments {% endcomment %}
        </ol>
      </div>
    </div>
  </div>
</li>
